.form_container
{
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mainbar
{
    min-height: 75px;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #343a40!important;
}

.brand
{
    letter-spacing: 5px;
    color: white;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.75rem;
}

.brand:hover
{
    color: white;
    text-decoration: none;
}