body
{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../../extras/img/congruent_outline.png");
    color: #dfdfdf;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.mainbar
{
    min-height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .4rem 1rem;
    background-color: #343a40!important;
}

.mainbar_link
{
    color: white;
    margin: 0 10px;
}

.mainbar_link:hover
{
    color: antiquewhite;
    text-decoration: none;
}

.brand
{
    letter-spacing: 5px;
    color: white;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.75rem;
}

.search-container
{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.search-input
{
    height: 33px;
    width: 70%;
    border-radius: 20px;
    background-color: burlywood;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: none;
    opacity: 0.6;
}

.search-button
{
    height: 33px;
    width: 15%;
    border-radius: 20px;
    background-color: burlywood;
    text-align: center;
    margin: 5px;
    border: none;
}

.avatar-container
{
    display: flex;
    padding: 5px;
    justify-content: center;
}

.avatar
{
    width: 50px;
    border-radius: 100%;
}

.avatar-container p
{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

main
{
    width: 100%;
}

.user-avatar
{
    grid-area: avatar;
    place-self: center;
}

.user-name
{
    grid-area: name;
    place-self: center start;
}

.user-name p
{
    margin-bottom: 0;
    margin-left: 5px;
}

.user-type
{
    grid-area: user-type;
    place-self: center;
}

.user-new-messages
{
    grid-area: new-message;
    place-self: center;
}

.user-status
{
    grid-area: status;
    place-self: center;
}

.user-favourite
{
    color: gold;
    grid-area: favourite;
    place-self: center;
}

.user-favourite:hover
{
    color: gold;
}

.user-group-add
{
    color: #d4d4d4;
    grid-area: group-add;
    place-self: center;
}

.user-group-add:hover
{
    color: #d4d4d4;
}