.avatar-container
{
    display: flex;
    padding: 5px;
    justify-content: center;
}

.avatar
{
    width: 50px;
    border-radius: 100%;
}

.avatar-container p
{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

main
{
    width: 100%;
}

.user-avatar
{
    grid-area: avatar;
    place-self: center;
}

.user-name
{
    grid-area: name;
    place-self: center start;
}

.user-name p
{
    margin-bottom: 0;
    margin-left: 5px;
}

.user-type
{
    grid-area: user-type;
    place-self: center;
}

.user-new-messages
{
    grid-area: new-message;
    place-self: center;
}

.user-status
{
    grid-area: status;
    place-self: center;
}

.user-favourite
{
    color: gold;
    grid-area: favourite;
    place-self: center;
}

.user-favourite:hover
{
    color: gold;
}

.user-group-add
{
    color: #d4d4d4;
    grid-area: group-add;
    place-self: center;
}

.user-group-add:hover
{
    color: #d4d4d4;
}

.user
{
    display: grid;
    grid-template-columns: 10% 35% 10% 15% 20% 5% 5%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
            "avatar name user-type status . favourite group-add"
            "avatar name new-message new-message new-message favourite group-add";
    background-color: #808080;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}