.avatar-container
{
    display: flex;
    padding: 5px;
    justify-content: center;
}

.avatar-container img
{
    width: 50px;
    border-radius: 100%;
}

.avatar-container p
{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}